/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
}
h5 {
	margin-bottom: 7px;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}
ol, ul {
	list-style: none;
}
h6  {font-size: 1em;margin-bottom:2px;}
/*===================*/
/*=== Main Styles ===*/
/*===================*/

@font-face {  
        font-family: "MistralWeb"; 
        src: url("Mistral.eot"); 
    } 
@font-face {  
    font-family: "MistralWeb"; 
    src: url("Mistral.TTF") format("truetype"); 
} 




/*------------------ Site Structure ------------------*/
html { font-size: 100%; }

body {background-color:transparent; width: 1400px; margin: auto; font-family: Georgia, "Times New Roman", Times, serif; font-size: .875em; color: black;}

#header { margin-top:30px;}

#footer {clear: both; text-align: right; padding-right:10px; background-origin:border-box; background: url(images/seperator.png) repeat-x top; font-size: .8em; color: #a3a3a3;padding-bottom:20px;}


p {line-height: 1.4em; padding-bottom: 25px}

a {
	color:#C30;
	text-decoration:none;
}

a:hover {
	color:#666;
}

.slider-wrapper { 
	padding-left:30px;
	width:1020px;
	height:2500px;
	display:inline-block;
	text-align:justify
}

#czxwebsite {
	margin-top:20px;
	text-align:right; 
}

#intro {
	clear: both;
	padding: 20px;
	padding-right:30px;
	padding-top:0px;
	line-height: 1.6em; 
	width:298px;
	display:inline-block;
}

#personalinfo {
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	margin-bottom:1em;
	margin-top:1em;
	width:100%;
	height:160px;
}

#intro p {padding: 0;
	font-size: 1em;
	text-align:justify;
	line-height:2em;
}

#intro p span{
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	color:orange;
	vertical-align: text-top;
}

#portrait {
	width:136px;
	float:left;
	height:144px;
	background-image:url(images/portrait.png);
	background-size:136px 144px;
}

#eduinfo {
	float:right;
	text-align:right;
	font-size:0.8em;
}

#eduinfo hr {
	width:100%;
}

/*====================*/
/*===drop down ===*/
/*====================*/



ul.dropdown                         { position: relative; 
									  z-index:10; margin: auto; 
									  font-family:Verdana, Geneva, sans-serif;
									  font-size:1.5em;
									  height:36px;
									  margin-bottom: 4px}
									  
ul.dropdown li.title                     { float: left; zoom: 1;}
ul.dropdown li.social                    { float: right; zoom: 1;}
ul.dropdown li.titlenew					 { float: right; zoom: 1; margin-left: 40px;}
ul.dropdown li a                    { display: block; 
	 								  color:#C30; }
ul.dropdown li.title a {padding: 0px 20px;}
ul.dropdown li.social a {padding: 0px 1px;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li a:hover              { color: #666; }




/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}



/*
PROJECT CONTENT
*/
.project {
	-webkit-box-orient:horizontal;
	display:-moz-box;
	-moz-box-orient:horizontal;
}
.projectcontent h4	{
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
	background: #E6E6E6;
	line-height: 14px;
	margin: 6px 0px;
	font-size:1.1em;
	font-weight:200;
}

.left{
	float:left;
}

.right{
	float:right;
}

.projectcontent p {
	padding-left:10px;
	padding-right:10px;
	padding-bottom:0px;
	line-height:1.7em;
	text-align: justify;
}

.projectcontent a {
	color:black;
}

.projectcontent a:hover {
	color:#A80F29;
}

.projectimg{
	width:380px;
	-width:345px;
}

.projectcontent {
	width:580px;
	-width:550px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}

.projectimg a{
	width: 352px;
	height: 217px;
	padding-top: 10px;
	padding-left:10px;
	padding-right:10px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top:0px;
	background: url(images/thumb_bg.png) no-repeat;
}

.inlineRed {
	color:#A80F29;
}
	
.snsicon {
	width: 50px;
	margin:15px;
}

.slider-wrapper h3 {
	font-size:15px;
}

.slider-wrapper ul {
	line-height: 2em;
}

.slider-wrapper ul li {
	margin-left: 20px;
}

.homework-title {
	font-size:15px;
	font-weight:bold;
}